{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.3.12/plyr.css" rel="stylesheet">

{% endblock %}
  
  
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#  <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/VideoController.php'|file_link(0) }}">src/Controller/VideoController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/video/index.html.twig'|file_link(0) }}">templates/video/index.html.twig</a></code></li>
    </ul>
</div> #}

<div class="container">
	<div id="player" data-plyr-provider="youtube" data-plyr-embed-id="_Sn5x1aLrUY"></div>
</div>

<br>
<br>
<div class="container">
	<div id="player2" data-plyr-provider="youtube" data-plyr-embed-id="UUkn-enk2RU"></div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.3.12/plyr.min.js"></script>
<script type="text/javascript">
const player = new Plyr('#player', {});
const player2 = new Plyr('#player2', {});
</script>
{% endblock %}